/* Light theme for OCX Viewer */
.text-field {

    -fx-padding: 5px;
    -fx-background-color: -color-base-1;
    -fx-background-radius: 3px;
    -fx-spacing: 1px;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
}
.text-field:focused {
    -fx-background-color: #efefef;
}

.content-pane {

    -fx-padding: 15px;
    -fx-background-color: -color-bg-default;
    -fx-background-radius: 15px;

    -fx-border-radius: 15px;
    -fx-border-width: 1px;
    -fx-border-color: -color-base-2;
}

.tree-view, .tree-cell {
    //-fx-background-color: -color-base-0;
    -fx-text-fill: white ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    //-fx-background-color:-color-base-0;
}
.tree-cell:selected {
    -fx-font-weight: bold ;
    //-fx-background-color:-color-accent-0;
}
.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
}

#mainBorderPane {
    -fx-background-color: -color-base-3;
}
#mainStackPane {
    -fx-padding: 15px;
}


.quantity-input-group {
    -fx-padding: 1px;
    -fx-background-color: -color-base-1;
    -fx-background-radius: 3px;
    -fx-spacing: 1px;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
}

.quantity-input-value {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-border-width: 0px;
}
.quantity-input-unit {
    -fx-background-color: rgba(255, 255, 255, 0.0);
    -fx-border-width: 0px;
}


/*
#unitsName {

    -fx-padding: 15px;
    //-fx-background-color: -color-bg-default;
    -fx-background-radius: 10px;
    -fx-spacing: 20px;
    -fx-border-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-color: -color-border-default;
}
*/
#helpBorderPane {
    -fx-background-color: -color-bg-default;
    -fx-padding: 5px;
}

.unitName {
    -fx-padding: 5px;
}
